.ApplyTip {
  margin-top: 35px;
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 30px;
}

button {
  height: 50px;
  width: fit-content;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  transition-duration: 2s;
}

button:hover {
  cursor: pointer;
  transform: scale(0.9);
}

#customId {
  border: solid 1px hsl(183, 100%, 15%);
  border-radius: 5px;
  background-color: hsl(185, 41%, 84%);
  position: relative;
  top: 10px;
  text-align: right;
}
