#tip {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  width: 70%;
}

#middle {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  width: 70%;
}

#custom {
  background-color: hsl(180, 33%, 93%);
  color: hsl(183, 100%, 15%);
  width: 70%;
}

#reset {
  color: hsl(183, 100%, 15%);
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  #reset {
    margin-left: 0;
    margin-top: 20px;
  }
}
